<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="ivatsko_check_create_customer_customer_register_success">
        <observer name="check_customer_register" instance="Ivatsko\CheckCreateCustomer\Observer\SendDataCustomerObserver"/>
    </event>
</config>
